/* font-family: 'Noto Sans', sans-serif; */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(_NotoSans-Regular.ttf);
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url(_NotoSans-Medium.ttf);
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url(_NotoSans-SemiBold.ttf);
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url(_NotoSans-Bold.ttf);
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 800;
  src: url(_NotoSans-ExtraBold.ttf);
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: url(_NotoSans-Black.ttf);
}

