@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-content {
    @apply flex flex-col gap-6 p-6;
  }

  .prompt {
    @apply flex flex-col gap-2;
  }

  .prompt > h2 {
    @apply text-lg font-semibold text-left;
  }

  .prompt > p {
    @apply text-4xl font-medium text-center;
  }

  .answer {
    @apply text-2xl font-semibold text-center;
  }

  dl.info-table {
    @apply grid gap-x-4 gap-y-2 m-4 px-4 py-2 rounded-md bg-surface-variant text-on-surface-variant;
    grid-template-columns: auto minmax(0, 1fr);
  }

  dl.info-table:empty {
    @apply collapse;
  }

  dl.info-table > dt {
    @apply font-bold text-right;
  }

  dl.info-table > dd {
    @apply text-left;
  }

  ul.links {
    @apply flex flex-row justify-around py-4 mt-auto;
  }

  .link-button {
    @apply px-8 py-2 rounded-full bg-highlight !text-on-highlight;
  }
}

@layer base {
  html {
    @apply font-sans text-left text-on-surface;
  }

  /* font-family: 'Noto Sans', sans-serif; */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(_NotoSans-Regular.ttf);
  }
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url(_NotoSans-Medium.ttf);
  }
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url(_NotoSans-SemiBold.ttf);
  }
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url(_NotoSans-Bold.ttf);
  }
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    src: url(_NotoSans-ExtraBold.ttf);
  }
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    src: url(_NotoSans-Black.ttf);
  }

  /* font-family: 'Noto Sans JP', sans-serif; */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url(_NotoSansJP-Regular.ttf);
  }
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    src: url(_NotoSansJP-Medium.ttf);
  }
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 600;
    src: url(_NotoSansJP-SemiBold.ttf);
  }
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url(_NotoSansJP-Bold.ttf);
  }
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 800;
    src: url(_NotoSansJP-ExtraBold.ttf);
  }
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 900;
    src: url(_NotoSansJP-Black.ttf);
  }
}